train-simulation/simulator/config/node-red/.flows.json.backup
[{"id":"740cfe78.0dff98","type":"tab","label":"Temperature simulation","disabled":false,"info":""},{"id":"1aeba621.cbd42a","type":"mqtt-broker","name":"mqtt","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"441c416a.e77988","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f3c08487.3be21","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9d311d9e.eee5c","type":"ui_group","name":"Default","tab":"441c416a.e77988","order":1,"disp":true,"width":"11","collapse":false},{"id":"e121d488.feb878","type":"ui_group","name":"Temperature Simulation","tab":"441c416a.e77988","order":2,"disp":true,"width":"20","collapse":true},{"id":"b4dca338.a9a15","type":"mqtt out","z":"740cfe78.0dff98","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1aeba621.cbd42a","x":1250,"y":500,"wires":[]},{"id":"d9732388.69524","type":"debug","z":"740cfe78.0dff98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1250,"y":440,"wires":[]},{"id":"1e73170b.3bf139","type":"trigger","z":"740cfe78.0dff98","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-1","extend":false,"overrideDelay":false,"units":"s","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":660,"y":500,"wires":[["6ccea3bb.ae5034"]]},{"id":"cd0d2ab3.540688","type":"ui_chart","z":"740cfe78.0dff98","name":"","group":"e121d488.feb878","order":0,"width":"20","height":"6","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"5000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1450,"y":560,"wires":[[]]},{"id":"14db19c9.d86116","type":"ui_text","z":"740cfe78.0dff98","group":"e121d488.feb878","order":1,"width":0,"height":0,"name":"","label":"Value","format":"{{msg.payload.value}}","layout":"row-left","x":1250,"y":620,"wires":[]},{"id":"ce1cd686.7a9618","type":"inject","z":"740cfe78.0dff98","name":"start","props":[{"p":"trigger","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":470,"y":420,"wires":[["1e73170b.3bf139"]]},{"id":"3fbd7f45.4a5d1","type":"inject","z":"740cfe78.0dff98","name":"stop","props":[{"p":"reset","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":470,"y":500,"wires":[["1e73170b.3bf139"]]},{"id":"8b227143.c8bea","type":"ui_switch","z":"740cfe78.0dff98","name":"","label":"Enabled / Disabled","tooltip":"","group":"e121d488.feb878","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"reset","topicType":"msg","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":490,"y":560,"wires":[["1e73170b.3bf139"]]},{"id":"7e9872f.0d4fc8c","type":"function","z":"740cfe78.0dff98","name":"extract value","func":"msg.payload = msg.payload.value\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":560,"wires":[["cd0d2ab3.540688"]]},{"id":"6ccea3bb.ae5034","type":"function","z":"740cfe78.0dff98","name":"PT2 sim","func":"// Config secion\n// #################\n// adapt those to make changes to the simulation character\n// PT2 characteristics\nlet a2 = 100\nlet a1 = 2\n// Interval in seconds when a new random setPoint is generated\nlet randomNewSetPointIntervalSeconds = 30\nlet randomSetPointMin = 30\nlet randomSetPointMax = 50\n// MQTT topic\nlet mqttTopic = \"simulation/temperature\"\n// #################\n\n\n// This value must correspond to the trigger nodes interval\nlet samplintIntervalSeconds = 1\nlet samplingRate = 1/(samplintIntervalSeconds)\n\nlet newRandomSetpointLimit = samplingRate * randomNewSetPointIntervalSeconds\nlet deltaT = 1 / samplingRate;\nlet deltaTSquare = deltaT * deltaT;\nlet psi = a2 / (deltaTSquare) + a1 / deltaT + 1.0;\n\nlet randomSetPointCountdown = context.get('randomSetPointCountdown') || newRandomSetpointLimit;\nrandomSetPointCountdown = randomSetPointCountdown -1 \ncontext.set('randomSetPointCountdown', randomSetPointCountdown)\nif (randomSetPointCountdown <= 0) {\n    randomSetPointCountdown = Math.random() * 10\n    let newSetPoint = Math.floor(Math.random()*(randomSetPointMax-randomSetPointMin+1)+randomSetPointMin);\n    context.set('setPoint', newSetPoint);\n}\n\nlet setPoint = context.get('setPoint') || 40\n\nlet k_2 = context.get('k_2') || 0\nlet k_1 = context.get('k_1') || 0\n\nlet value = setPoint / psi + (2 * a2 * k_1) / (psi * deltaTSquare) - (a2 * k_2) / (psi * deltaTSquare) + (a1 * k_1) / (psi * deltaT);\ncontext.set('k_2', k_1)\ncontext.set('k_1', value)\n\nvalue = value.toFixed(2)\n\n// make it part of the outgoing msg object\nmsg.payload = {sensorname: \"temperature\", timestamp: Math.floor(Date.now() / 1000), value: value};\nmsg.topic = mqttTopic\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":500,"wires":[["d9732388.69524","b4dca338.a9a15","7e9872f.0d4fc8c","14db19c9.d86116","17498950.a4bb7f"]]},{"id":"17498950.a4bb7f","type":"ui_text","z":"740cfe78.0dff98","group":"e121d488.feb878","order":1,"width":0,"height":0,"name":"","label":"Timestamp","format":"{{msg.payload.timestamp}}","layout":"row-left","x":1270,"y":680,"wires":[]},{"id":"7bc9b144.4feff8","type":"comment","z":"740cfe78.0dff98","name":"Description - click me","info":"This is a temperature simulation\nYou can modify it changing several parameters ins `PT2 sim` node:\n\nThe temperature simulation works with a PT2 system that generates values around a given random set point. \nTo change the PT2 characteristics modify parameters `a2` and `a1`.\n\nTo change the interval a new random set point is generated change `randomNewSetPointIntervalSeconds`.\nYou can specify the range new set points will be generated using `randomSetPointMin` and `randomSetPointMax`.\n\nTo change the MQTT topic modify `mqttTopic`.\n","x":940,"y":360,"wires":[]}]